@import "../../assets/styles/_variables";
@import "../../assets/styles/_mixins";

.weather-today {
  @include flex(space-between, center);
  width: 80%;

  & .weather-icon {
    flex: calc((100% - 2rem) / 3);
    text-align: center;
  }
  & .weather-title {
    flex: calc((100% - 2rem) / 3);
    text-align: center;
  }
  & .weather-more {
    flex: calc((100% - 2rem) / 3);
    padding-left: 10%;

    & .text {
      margin: 1%;
      
      & span {
        font-weight: bold;
        @media screen and (max-width: 992px) {
          display: block;
        }
      }
    }
  }
}
