@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Work+Sans:wght@500&display=swap');

$font-main: 400 16px Montserrat, sans-serif;
$font-title: 700 56px Work Sans, sans-serif;

$color-main: #529cb9;
$color-white: #fff;
$color-blue: #085375;
$color-blue-light: #add8e6;
