@import "../../assets/styles/_variables";

.loading {
  background-color: $color-white;
  background-image: url("../../assets/images/loading.gif");
  background-size: 25px 25px;
  background-position: 97% center;
  background-repeat: no-repeat;
}

.input {
  display: inline-block;
  margin-top: 3%;
  padding: 10px 0px 10px 30px;
  line-height: 120%;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  transition: all 0.5s ease-out;

  @media screen and (max-width: 992px) {
    padding: 8px 0px 8px 20px;
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    padding: 5px 0px 5px 15px;
    font-size: 16px;
  }
}

.pac {
  &-container {
    border: 1px solid $color-blue-light;
    border-radius: 2vmin;

    &::after {
      display: none;
    }
  }
  &-icon {
    display: none;
  }

  &-item-query {
  font: $font-main;
  color: $color-main;

  & span {
    color: $color-main;
  }
}
}

// La Ciotat